// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;




section {
    -webkit-box-shadow: 0 -2px 3px 0 rgba(0, 0, 0, 0.05), 0 2px 5px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 -2px 3px 0 rgba(0, 0, 0, 0.05), 0 2px 5px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 -2px 3px 0 rgba(0, 0, 0, 0.05), 0 2px 5px 0 rgba(0, 0, 0, 0.3);
}

section:hover{
    -webkit-box-shadow: 0 -2px 20px 0 rgba(0, 0, 0, 0.2), 0 18px 25px 0 rgba(0,0,0,0.42);
    -moz-box-shadow: 0 -2px 20px 0 rgba(0, 0, 0, 0.2), 0 18px 25px 0 rgba(0,0,0,0.42);
    box-shadow: 0 -2px 20px 0 rgba(0, 0, 0, 0.2), 0 18px 25px 0 rgba(0,0,0,0.42);
}
